.merch {
    position: relative;

    img {
        width: 100%;
    }

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        padding-top: 50px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__title {
        margin-bottom: 21px;
    }

    &__text {
        font-weight: 400;
        font-size: 22px;
        line-height: 34px;
        color:var(--white-color);
    }

    &__swiper {
        .swiper-button-next, .swiper-button-prev {
            position: absolute;
            top: 50%;
            width: 8.5px;
            height: 18.5px;
            margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
            z-index: 10;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white-color);
        }

        .swiper-button-next::after, .swiper-button-prev::after {
            font-family: swiper-icons;
            font-size: 16px;
            letter-spacing: 0px;
            font-variant: initial;
            line-height: 1;
            text-transform: none !important;
        }

        .swiper-button-prev, .swiper-rtl .swiper-button-next {
            left: 250px;
            right: auto;
        }

        .swiper-button-next, .swiper-rtl .swiper-button-prev {
            right: 250px;
            left: auto;
        }

        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
            bottom: 50px;
            left: 0;
            width: 100%;
        }

        .swiper-pagination-bullet {
            width:12px;
            height: 12px;
            display: inline-block;
            border-radius: 50%;
            background: transparent;
            opacity: 0.5;
            border: 1px solid rgba(255, 255, 255, 0.5);
        }

        .swiper-pagination-bullet-active {
            background: rgba(255, 255, 255, 0.5);
            opacity:0.5;
            border: 0;
        }
    }
}

.swiper {
    position: relative;
}