.metaverse {
    padding: 72px 0;

    &__container {
        display: flex;
        flex-direction: column-reverse;
    }

    &__left {
        width: 100%;
        
        img {
            position: relative;
            left: -35px;
        }
    }

    &__right {
        width: 100%;
    }

    &__list {
        margin-bottom: 32px;
    }

    &__item {
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }

        &.active {
            .metaverse__name {
                background: linear-gradient(92.44deg, #33E3EE 4.29%, #C99EFF 50.91%, #FF94FB 99.52%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }

            .metaverse__text {
                color: var(--white-color);
            }
        }
    }

    &__name {
        font-family: 'Tektur';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        font-feature-settings: 'ss01' on, 'zero' on;
        color: #454557;
        margin-bottom: 12px;
        max-width: 557px;
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #454557;
        max-width: 490px;
    }
}